
.exp-page
{
    height: 100vh;
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.exp-container {
    border: solid;
    border-radius: 30px;
    display: flex;
    margin: 0 auto; /* Center the container */
    height: auto;
    background-color: #8EB897;
    max-width: 1200px; /* Set a max width to contain expansion */
    width: 100%; /* Keep the container responsive */
}


.exp-jobs-container {
    width: fit-content;
    flex: 1;
    min-width: 250px; /* Set a minimum width for consistency */
    max-width: 400px; /* Optional: Set a maximum width to limit expansion */
}


.exp-detail-container {
    display: flex;
    text-align: left;
    flex-direction: column;
    justify-content: center;
    flex: 3;
    border-left: solid;
    padding: 20px; /* Optional: Add padding for better layout */
    min-width: 600px; /* Prevent shrinking */
    flex-shrink: 0; /* Prevent shrinking */
}

.exp-jobs-card
{
    border-bottom: solid;
    height: 85px;
    min-height: 100px;
    min-width: 200px;
    display: flex;
    text-align: left;
    flex-direction: column;
    justify-content: center;
    padding-left: 1.1em;
}

.exp-jobs-card:last-child
{
    border-bottom: none;
    border-bottom-left-radius: 30px;
}

.exp-jobs-card:first-child
{

    border-top-left-radius: 30px;
}

.exp-jobs-card:hover
{
    cursor: pointer;
    background-color: #2b755320;
}

.selected
{
  color: #2b7553;
}

.job-info
{
    padding: 0px 1em;
}

.job-title {
  font-size: 1.1rem;
  font-weight: 700;
}

@media (max-width: 768px) {
    /* Adjustments for tablets and smaller devices */

    .exp-page
    {
        height: auto;
        padding-top: 20vh;
    }
    .exp-container {
        flex-direction: column;
        margin: 5%;
    }

    .exp-jobs-container,
    .exp-detail-container {
        width: 100%;
        margin: 0;
    }

    .exp-jobs-container
    {
        flex-basis: 100%;
        min-width: 100%;
    }

    .exp-jobs-card {
        height: auto; /* Make job cards taller as width shrinks */
        padding: .5em;

        min-width: 0px; /* Set a minimum width for consistency */
    }

    .exp-detail-container
    {
        min-width: 0px;
        width: 100%;
        border: none;
        padding: 0px;
        word-wrap: break-word; /* Ensure long words wrap within the container */
        overflow-wrap: break-word; /* Break words to prevent overflow */
        white-space: normal; /* Allow text to wrap and not stay on one line */
    }

    .job-info {
    }

    .exp-jobs-card:last-child
    {
        border-bottom: solid;
        border-bottom-left-radius: 0px;
    }
}